/* HOMEPAGE STYLE */

#homepage {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 600 px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 20px;

    background-image: url(./background-image/wood-background.jpg);
    background-position: center top;
    background-size: cover;
}

.homepage-title {
    font-size: 3em;
    color: #e7b433;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.homepage-a {
    font-size: large;
    text-decoration: none;
    color: #ed4224;
    font-weight: bold;
    display: block;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
}

 .image-container {
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    background-color: #f4f4f4;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.6);
    position: relative;
 }

 .image-container img {
    width: 500px;
    height: 310px;
    object-fit: cover;
    border-bottom: 2px solid #ed4224;
 }

 .image-text {
    padding: 10px;
    text-align: center;
 }

 .image-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.1);
    border: 3.5px solid #ed4224;
    border-radius: 10px;
}

 /* LASAGNA PAGE STYLE */
 /* GINGERBREAD MAN STYLE */
 /* JUICY BURGER STYLE */

 /* BODY */
#lasagna-page,
#gingerbread-man-page,
#burger-page {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 25px;
    background-color:  #f4f4f4;
}

.lasagna-title, 
.gingerbread-man-title,
.burger-title {
    font-size: 3em;
    text-align: left;
    margin-top: -25px;
    color: #ed4224;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.lasagna-title-h2-h3,
.gingerbread-man-h2,
.burger-h2-h3 {
        line-height: 1.2;
        text-align: left;
    }

.lasagna-paragraph,
.gingerbread-man-paragraph,
.burger-paragraph {
        margin-bottom: 30px;
        text-align: left;
        color: #777777;
    }

.lasagna-img,
.gingerbread-man-img,
.burger-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    margin-top: -15px;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2.5px solid #e7b433;
    border-radius: 10px;
}

.lasagna-ul-ol,
.gingerbread-man-ul,
.burger-ul {
    line-height: 2.5;
    text-align: left;
    color: #777777;
}

#home-link {
    font-size: 23px;
    color: #ed4224;
    text-decoration: none;
    margin-top: 15px;
    margin-left: -435px;
    font-weight: bold;
    display: block;
    max-width: fit-content;
}